<?
  items = ["one", "two", "three" ...];
?>

<div>
  <ul>
    <li ::each="item in items"> <?= item ?></li>
  </ul>
</div>
//////////////////////////////////
<div>
  <ul>
  <? for(var __i = 0; __i < items.length; __i++){ ?>
      <li ::each="item in items"> <?= items[__i] ?> </li>
  <? } ?>
  </ul>
</div>
/////////////////////////////////////
<div>
  <ul>
    <li ::each="item in items">one</li>
    <li ::each="item in items">two</li>
    <li ::each="item in items">three</li>
  </ul>
</div>
