<?
    controller = Class({
        sayHello: function(){
            console.log("hola");
        }
    });
?>
<div>
    <button ::on-click="sayHello()">Go!</button>
</div>
/////////////////////////////
<div>
    <button u123uasd2::on-click="sayHello()">Go!</button>
    <? $$on("click", "u123uasd2", function(){ sayHello(); }) ?>
</div>
////////////////////////////
<div>
    <button u123uasd2::on-click="sayHello()">Go!</button>
</div>
